<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th><br>
          <th>FirstName</th><br>
          <th>LastName</th><br>
          <th>Salary</th><br>
          <th>Departament</th><br>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of employees;">
          <td>{{product.id}}</td><br>
          <td><p type="text" >{{product.FirstName}}</p></td><br>
          <td>{{product.LastName}}</td><br>
          
          <td>{{product.Salary}}</td><br>
          <td>{{product.Departament}}</td><br>
          <td><button mat-raised-button color="primary" (click)="onSelect(product)">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>

